@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>
<h2>Sua página de contato</h2>
<p>
    Avenida Paulo Eriel Abrantes, 1325.
    <br>
    Volta Redonda, RJ, 27.254-260.
    <br>
    Telefone: (24) 3340-8400.
</p>
<br>
<p> 
    <strong>Suporte:</strong>suporte@foa.org.
    <br>
    <strong>Marketing:</strong>Marketing@foa.org.
</p>
<img src="~/img/imagemFoa.PNG" alt="Imagem de Contato" style="width:1300px;height:auto;">